<ion-view view-title="Add Geocache" >
  <ion-content class="padding">
	<div class="list">
	  <label class="item item-input item-floating-label">
		<span class="input-label">Cache Title</span>
		<input type="text" placeholder="Cache Title">
	  </label>
	  <label class="item item-input item-floating-label">
		<span class="input-label">Cache Description</span>
		<input type="text" placeholder="Cache Description">
	  </label>
	</div>
	  <div class="button-bar">
	    <a class="button button-calm" ng-click=""  >Add</a>
	    <a class="button" ui-sref="tab.map()" ng-click="setClickable()">Cancel</a>
	  </div>
  </ion-content>
</ion-view>
